{namespace wise=Wise\WiseDocasysBackend\ViewHelpers}

<f:layout name="SolutionOverview" />
<f:section name="content">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    <wise:be.editLink
                        parameters="edit[tx_wisedocasysdomaindesigner_domain_model_loesungsuntersuchung][{examination.uid}]=edit">
                        {examination.untersuchteLoesung.teilprojektnummer}-{examination.untersuchteLoesung.loesungsbezeichnung}-
                        <th>
                            <f:format.date format="d.m.y">{examination.datum}</f:format.date>
                        </th>
                        -{examination.untersuchterLastfall.fallbezeichnung}
                    </wise:be.editLink>
                </h1>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse">Untersuchungen</a>
            </h4>
        </div>
        <div id="collapse" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="page-header">
                            <h4>Versuchsprotokoll/Versuchsbeschreibung</h4>
                        </div>
                        <div class="page-body">
                            <f:if condition="{examination.protokollbeschreibung}">
                                <p>
                                    <f:format.nl2br>{examination.protokollbeschreibung}</f:format.nl2br>
                                </p>
                            </f:if>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="page-header">
                            <h4>Kommentar</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="page-header">
                            <h4>Messergebnisse</h4>
                        </div>
                        <div class="page-body">
                            <f:if condition="{examination.messergebnisse}">
                                <p>
                                    <f:format.nl2br>{examination.messergebnisse}</f:format.nl2br>
                                </p>
                            </f:if>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="page-body">
                            <f:if condition="{examination.kommentar}">
                                <p>
                                    <f:format.nl2br>{examination.kommentar}</f:format.nl2br>
                                </p>
                            </f:if>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="page-header">
                            <h4>Grafische Auswertung</h4>
                        </div>
                        <div class="page-body">
                            <f:if condition="{examination.grafischeauswertung}">
                                <p>
                                    <!-- <f:image src="/fileadmin/{grafischeauswertung}"/> -->
                                    <a href="{f:uri.image(image: originalFile)}">{originalFile.name}</a>
                                </p>
                            </f:if>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>