/* default styles for extension "tx_bvtpowermailpdf" */
    input.f3-form-error {
        background-color:#FF9F9F;
        border: 1px #FF0000 solid;
    }

    .tx-t3uk-bvtpowermailpdf table {
        border-collapse:separate;
        border-spacing:10px;
    }

    .tx-t3uk-bvtpowermailpdf table th {
        font-weight:bold;
    }

    .tx-t3uk-bvtpowermailpdf table td {
        vertical-align:top;
    }
/* default styles for extension "tx_felogin_pi1" */
		.tx-felogin-pi1 label {
			display: block;
		}
