<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="stylesheet" type="text/css" href="sysext/t3skin/stylesheets/sprites/t3skin.css?1507965001" media="all">
        <link rel="stylesheet" type="text/css" href="sysext/t3skin/Resources/Public/Css/backend.css?1507964998" media="all">  
        <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'StyleSheets/Module.css')}" media="all">
    </head>
    <body>
        <div class="module">
            <div class="module-docheader">
            </div>

            <div class="module-body">
                <f:flashMessages />
                <f:render section="content"/>
            </div>
        </div>
    </body>
</html>