{namespace wise=Wise\WiseDocasysBackend\ViewHelpers}

<f:layout name="Filter" />
<f:section name="content">
    <h1>Recommender</h1> 
    <h2>Vorauswahl von Lösungseigenschaften</h2>

    <f:form name="recommender-submit" action="index" method="post" style="width: 100%;" class="form-horizontal hidden-print">
        <div class="tab-content">
            <div class="tab-pane fade in {f:if(condition: '{results}', then: '', else: 'active')}">
                <div class="padding">
                    <div class="row form-group">
                        <label class="control-label col-sm-2">
                            Anwendungsfall:
                        </label>
                        <div class="col-sm-2">
                            <f:form.select property="operator.useCase" options="{operators}" class="form-control" value="{values.operator.useCase}" />
                        </div>
                        <div class="col-sm-8">
                            <f:form.select property="useCase" class="form-control" options="{wise:be.TcaOptions(property:'anwendungsfall',subject:'Wise\\WiseDocasysDomainDesigner\\Domain\\Model\\Loesung')}" value="{values.useCase}" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="control-label col-sm-2">
                            Flexibilit&auml;t:
                        </label>
                        <div class="col-sm-2">
                            <f:form.select property="operator.flexibility" options="{operators}" class="form-control" value="{values.operator.flexibility}" />
                        </div>
                        <div class="col-sm-8">
                            <f:form.select property="flexibility" class="form-control" options="{wise:be.TcaOptions(property:'flexibilitaet',subject:'Wise\\WiseDocasysDomainDesigner\\Domain\\Model\\Loesung')}" value="{values.flexibility}" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="control-label col-sm-2">
                            Invasivit&auml;tsgrad:
                        </label>
                        <div class="col-sm-2">
                            <f:form.select property="operator.invasivity" options="{operators}" class="form-control" value="{values.operator.invasivity}" />
                        </div>
                        <div class="col-sm-8">
                            <f:form.select property="invasivity" class="form-control" options="{wise:be.TcaOptions(property:'invasivitaetsgrad',subject:'Wise\\WiseDocasysDomainDesigner\\Domain\\Model\\Loesung')}" value="{values.invasivity}" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="control-label col-sm-2">
                            Wartungsintervall:
                        </label>
                        <div class="col-sm-2">
                            <f:form.select property="operator.maintenance" options="{operators}" class="form-control" value="{values.operator.maintenance}" />
                        </div>
                        <div class="col-sm-8">
                            <f:form.select property="maintenance" class="form-control" options="{wise:be.TcaOptions(property:'wartungsintervall',subject:'Wise\\WiseDocasysDomainDesigner\\Domain\\Model\\Loesung')}" value="{values.maintenance}" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="control-label col-sm-2">
                            Zugriff auf Maschinensteuerung:
                        </label>
                        <div class="col-sm-2">
                            <f:form.select property="operator.machineControlAccess" options="{operators}" class="form-control" value="{values.operator.machineControlAccess}" />
                        </div>
                        <div class="col-sm-8">
                            <f:form.select property="machineControlAccess" class="form-control" options="{wise:be.TcaOptions(property:'maschinensteuerungszugriff',subject:'Wise\\WiseDocasysDomainDesigner\\Domain\\Model\\Loesung')}" value="{values.machineControlAccess}" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="control-label col-sm-2">
                            Notwendigkeit Maschinenstillstand:
                        </label>
                        <div class="col-sm-2">
                            <f:form.select property="operator.machineStopRequired" options="{operators}" class="form-control" value="{values.operator.machineStopRequired}" />
                        </div>
                        <div class="col-sm-8">
                            <f:form.select property="machineStopRequired" class="form-control" options="{wise:be.TcaOptions(property:'maschinenstillstandsnotwendigkeit',subject:'Wise\\WiseDocasysDomainDesigner\\Domain\\Model\\Loesung')}" value="{values.machineStopRequired}" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="control-label col-sm-2">
                            Hallenklimatisierung erforderlich:
                        </label>
                        <div class="col-sm-2">
                            <f:form.select property="operator.hallAircondition" options="{operators}" class="form-control" value="{values.operator.hallAircondition}" />
                        </div>
                        <div class="col-sm-8">
                            <f:form.select property="hallAircondition" class="form-control" options="{wise:be.TcaOptions(property:'hallenklimatisierung',subject:'Wise\\WiseDocasysDomainDesigner\\Domain\\Model\\Loesung')}" value="{values.hallAircondition}" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="control-label col-sm-2">
                            Nachrüstbarkeit:
                        </label>
                        <div class="col-sm-2">
                            <f:form.select property="operator.modernization" options="{operators}" class="form-control" value="{values.operator.modernization}" />
                        </div>
                        <div class="col-sm-8">
                            <f:form.select property="modernization" class="form-control" options="{wise:be.TcaOptions(property:'nachruestbarkeit',subject:'Wise\\WiseDocasysDomainDesigner\\Domain\\Model\\Loesung')}" value="{values.modernization}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-footer-submit">
            <div class="row">
                <div class="col-sm-6"> 
                    <div class="padding">
                        <a href="{f:uri.action(action:'index')}" class="btn btn-info">Recommender Eingaben zur&uuml;cksetzen</a>
                    </div> 
                </div> 
                <div class="col-sm-6"> 
                    <div class="right padding">
                        <f:form.submit value="Recommender Eingaben Suchen" class="btn btn-primary" />
                    </div>
                </div>  
            </div>
        </div>
    </f:form>

    <f:if condition="{results}">
        <div class="page-header">
            <h2>
                Ergebnisliste <span class="label label-primary"><f:count>{results}</f:count> Treffer</span>
            </h2>
        </div>
        <div class="table-fit">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <!-- <td>Teilprojektnummer</td> -->
                        <td>Lösungsbezeichnung</td>
                        <td>Nettofluss</td>
                        <td>Ausgangsfluss</td>
                        <td>Eingangsfluss</td>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{results}" as="solution">
                        <tr>
                            <!-- <td style="width: 15%">{solution.teilprojektnummer}</td> -->
                            <td style="width: 30%">
                                <a href="{f:uri.action(action:'summary', arguments: '{solution: \'{solution.uid}\'}')}">{solution.loesungsbezeichnung}</a> 
                            </td>
                            <td>{solution.nettofluss}</td>
                            <td>{solution.ausgangsfluss}</td>
                            <td>{solution.eingangsfluss}</td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </div>
        
        <head>
            <style>
                .chartBox {
                    /* border-radius: 20px; */
                    border: solid 3px rgba(255, 26, 104, 0.5);
                }
            </style>
        </head>
        
        <body>
            <div class="chartBox" style="width: 100%;">
                <canvas id="canvas"></canvas>
            </div>
            <!-- <f:for each="{labels}" as="label"> </f:for> -->
            <script src="{f:uri.resource(path: 'ChartJs/dist/Chart.bundle.js')}"></script>
            <script src="{f:uri.resource(path: 'ChartJs/samples/utils.js')}"></script>

            <script>
                var color = Chart.helpers.color;
                var barChartData = {
                    labels: [<f:for each="{labels}" as="label"> '{label}', </f:for>],
                    datasets: [
                        {
                            label: 'Nettofluss',
                            data: [<f:for each="{nettofluesse}" as="nettofluss"> {nettofluss}, </f:for>],
                            backgroundColor: color(window.chartColors.grey).alpha(0.5).rgbString(),
                            borderColor: window.chartColors.grey,
                            borderWidth: 1
                        },
                        {
                            label: 'Ausgangsfluss',
                            data: [<f:for each="{ausgangsflusse}" as="ausgangsfluss"> {ausgangsfluss}, </f:for>],
                            backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                            borderColor: window.chartColors.red,
                            borderWidth: 1
                        },
                        {
                            label: 'Eingangsfluss',
                            data: [<f:for each="{eingangsflusse}" as="eingangsfluss"> {eingangsfluss}, </f:for>],
                            backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                            borderColor: window.chartColors.blue,
                            borderWidth: 1
                        }
                    ]
                };
                window.onload = function() {
                    var ctx = document.getElementById('canvas').getContext('2d');
                    window.myBarChart = new Chart(ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Netto-, Eingangs- und Ausgangsflüsse der Lösungen'
                            },
                            scales: {
                                xAxes: [{
                                    ticks: {
                                        autoSkip: false,
                                        maxRotation:45,
                                        minRotation:45
                                    }
                                }]
                            }
                        }
			        });
		        };
            </script>

        </body>
    </f:if>
    
</f:section>
