{namespace wise=Wise\WiseDocasysBackend\ViewHelpers}

<f:layout name="Filter" />
<f:section name="content">
    <h1>Recommender</h1> 
    <h3>Vorauswahl von Lösungseigenschaften</h3>

    <div class="tab-content">
        <div class="padding">
            <div class="row form-group">
                <label class="control-label col-sm-3">
                    Anwendungsfall:
                </label>
                <div class="col-sm-9">
                    <f:form.select options="{Anwendungsfall}" class="form-control" value="{values.operator.kind}" />
                </div>
            </div>

            <div class="row form-group">
                <label class="control-label col-sm-3">
                    Flexibilit&auml;t:
                </label>
                <div class="col-sm-9">
                    <f:form.select options="{Flexibility}" class="form-control" value="{values.operator.kind}" />
                </div>
            </div>

            <div class="row form-group">
                <label class="control-label col-sm-3">
                    Invasivit&auml;tsgrad:
                </label>
                <div class="col-sm-9">
                    <f:form.select options="{Invasivity}" class="form-control" value="{values.operator.kind}" />
                </div>
            </div>

            <div class="row form-group">
                <label class="control-label col-sm-3">
                    Wartungsintervall:
                </label>
                <div class="col-sm-9">
                    <f:form.select options="{Wartungsintervall}" class="form-control" value="{values.operator.kind}" />
                </div>
            </div>

            <div class="row form-group">
                <label class="control-label col-sm-3">
                    Zugriff auf Maschinensteuerung:
                </label>
                <div class="col-sm-9">
                    <f:form.select options="{Maschinensteuerung}" class="form-control" value="{values.operator.kind}" />
                </div>
            </div>

            <div class="row form-group">
                <label class="control-label col-sm-3">
                    Notwendigkeit Maschinenstillstand:
                </label>
                <div class="col-sm-9">
                    <f:form.select options="{Maschinenstillstand}" class="form-control" value="{values.operator.kind}" />
                </div>
            </div>
        </div>
    </div>

    <div class="tab-footer-submit">
        <div class="row">
            <div class="col-sm-6"> 
                <div class="padding">
                    <a href="{f:uri.action(action:'index')}" class="btn btn-info">Eingaben zur&uuml;cksetzen</a>
                </div> 
            </div> 
            <div class="col-sm-6"> 
                <div class="right padding">
                    <f:form.submit value="Suchen" id="summary-submit" class="btn btn-primary" />
                </div>
            </div>  
        </div>
    </div>

</f:section>
