{namespace wise=Wise\WiseDocasysBackend\ViewHelpers}

<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="pull-right">
            {number}
        </span>
        <wise:be.editLink parameters="edit[tx_wisedocasysdomaindesigner_domain_model_arbeitsschritt][{step.uid}]=edit">
            {step.bezeichnung}
        </wise:be.editLink>
    </div>
    <div class="panel-body panel-body-step" style="overflow-y: scroll;">
        <dl>
            <dt>Beschreibung:</dt>
            <dd style="text-align:justify;">{step.beschreibung}</dd>
            <dt>Verwendete Ressourcen:</dt>
            <f:for each="{step.iRe}" as="iRe">
                <dt></dt>
                <dd>{iRe.bezeichnung}
                    (<f:translate key="LLL:EXT:wise_docasys_domain_designer/Resources/Private/Language/locallang_db_selectfields.xlf:ressourcenart.name.{iRe.art.name}" />)
                </dd>
            </f:for>
        </dl>
    </div>
</div>