<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="subject">
	<f:translate key="tx_dxuploadnotification_domain_model_uploadnotification.subject" />
</label><br />
	<f:form.textfield property="subject" /><br />
<label for="body">
	<f:translate key="tx_dxuploadnotification_domain_model_uploadnotification.body" />
</label><br />
	<f:form.textarea property="body" cols="40" rows="15" /><br />
<label for="timestamp">
	<f:translate key="tx_dxuploadnotification_domain_model_uploadnotification.timestamp" />
</label><br />
	<f:form.textfield property="timestamp" value="{uploadNotification.timestamp->f:format.date()}" /><br />
<label for="feGroupId">
	<f:translate key="tx_dxuploadnotification_domain_model_uploadnotification.fe_group_id" />
</label><br />
	<f:form.textfield property="feGroupId" /><br />
<label for="feGroupName">
	<f:translate key="tx_dxuploadnotification_domain_model_uploadnotification.fe_group_name" />
</label><br />
	<f:form.textfield property="feGroupName" /><br />
<label for="sysCollectionId">
	<f:translate key="tx_dxuploadnotification_domain_model_uploadnotification.sys_collection_id" />
</label><br />
	<f:form.textfield property="sysCollectionId" /><br />
</html>