#canvas {
    height: 1000px;
}

#canvas-wrapper {
    width: 100%;
    height: 100vh;
    border: solid 1px #c0c0c0;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2),0 4px 14px 0 rgba(0,0,0,0.15);
    margin: 20px 0; 
    overflow: scroll;   
}

.canvas-wrapper-bpmn #canvas {
    width: 3000px;    
}

.canvas-wrapper-cmmn #canvas,
.canvas-wrapper-dmn #canvas {
    width: 100%;
}

a.dashboard-link {
    border: solid 1px #ccc;
    background-color: #fafafa;
    display: block;
    text-align: center;
    padding: 15px;
    font-family: Share;
    font-size: 20px;
}

a.dashboard-link:hover {
    background-color: #fff;
    text-decoration: none;
}

.dx-user-head {
    text-align: center;
    padding: 15px;
}

.dx-user-head h1 {
    margin: 15px 0 0 0;
}

span.badge.pull-right {
    margin-right: 0px;
    margin-left: 5px;
}

.panel-solution dt {
    font-weight: bold;
}

.panel-solution dl {
    margin-bottom: 0;
}

.panel-solution dl ul {
    margin-left: 0;    
    padding-left: 0;    
}

.panel-solution dl ul li {
    margin-left: 15px;
}

.io-objects .panel-heading a {
    font-weight: bold;
}

.steps .panel-primary a {
    color: #fff;
}

.steps .panel-primary {
    margin-bottom: 15px;
}

.steps .panel-body-step {
    height: 120px;
    overflow: hidden;
}

.panel-body dt, .panel-body dd {
    float: left;       
}

.panel-body dt {
    content: '';
    display: block;
    clear: both;  
}

.panel-body dd {
    padding-left: 5px;
}

.row.row-border, p.back-link {
    border-top: 1px solid #ccc;
}

p.back-link {
    padding: 5px 0;
}

ul.f3-widget-paginator {
    padding: 0;
    list-style: none;
    text-align: right;
}

ul.f3-widget-paginator li {
    display: inline-block;
    border: solid 1px #ccc;
}

ul.f3-widget-paginator li a,
ul.f3-widget-paginator li.current {
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}

ul.f3-widget-paginator li a {
    display: block;    
}

ul.f3-widget-paginator li a:hover{
    background-color: #f0f0f0;
}

ul.f3-widget-paginator li.current {
    background-color: #555;
    color: #fff;
}

table td a, table th a {
    text-decoration: underline;
}

table td a.btn {
    text-decoration: none;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.page-header {
    border-color: #c0c0c0;
    margin-top: 10px;
}

.margin-top {
    margin-top: 30px;
}

table td .alert {
    margin: 0;
}

.sign {
    line-height: 100%;
    font-size: 150%;
}

table .matrix-header {
    border-bottom: solid 3px #000;
}

table .matrix-title {
    border-right: solid 3px #000;   
}

td.matrix-blockline {
    border-bottom: solid 3px #000; 
}

.tab-content, .tab-footer-submit {
    border: solid 1px #ccc;
    border-width: 0 1px 0 1px;
}

.tab-footer-submit {
    border-width: 0 1px 1px 1px;
}

.padding {
    padding: 15px;    
}

h1, h2, h3 {
    font-family: Share, Verdana, Arial, Helvetica, sans-serif;
}

.reference-machine-image-container {
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
}

.reference-machine-image-container img {
    visibility: none;
}

.reference-machine-link {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    border: dashed 4px #006633;
    opacity: 1;
    padding: 15px;
}

.reference-machine-link:hover {
    border-color: #005DB3;
    /* background: rgba(255, 255, 255, 0.25); */
}

.reference-machine-link a.link {
    width: 100%;
    text-align: left;
    text-decoration: none;
    background-color: #0078E6;
    color: #fff;  
    visibility: hidden;  
}

li {
    visibility: hidden;
}

.reference-machine-link:hover a.link, .reference-machine-link:hover li, 
.reference-machine-link a.link.active, .reference-machine-link li.active {
    visibility: visible;    
}

.reference-machine-link:hover a.link:hover {
    background-color: #005DB3;    
}

.reference-machine-image {
    border: solid 2px #ccc;
    margin: 0 0 40px 0;
    clear: both;
}

.reference-machine-structure .panel .panel-heading {
    border-bottom: solid 1px #ccc;
}

#reference-machine-image-displayer {
    float: right;
    margin-bottom: 5px;
}

.btn-secondary {
    background-color: #f0f0f0;
    border: solid 1px #d0d0d0;   
}

.btn-secondary:hover, .btn-secondary.active {
    background-color: #d0d0d0;
    border-color: #ccc;
}

.hide {
    display: none;
}

.tab-footer-submit .progress {
    height: 36px;
}

.tab-footer-submit .progress-bar {
    line-height: 36px;
    font-size: 14px;
}

.tud-lighter {
    background-color: #84cfed;
    color: #00305d;
}

.tud-light {
    background-color: #00a1d9;
    color: #fff;
}

.tud-dark {
    background-color: #0077ae;
    color: #fff;
}

.tud-primary {
    background-color: #00305d;
    color: #fff;
}